.pgraph {  font-family: Garamond; font-size: 15px; font-style: normal; line-height: normal; letter-spacing: normal; text-align: justify; word-spacing: normal; white-space: normal; color: #000000; text-decoration: none}
a:visited {  color: #990000; text-decoration: none}
a:hover {  color: #3300FF; text-decoration: underline}
